// Place SASS variable overrides here
// $font-size-root: 18px;
.primary {
  color: white !important;
  background-color: #149974 !important;
}
.secondary {
  color: white !important;
  background-color: #FAC374 !important;
}
.tertaire {
  color: white !important;
  background: rgb(250,195,116) !important;
  background: linear-gradient(90deg, rgba(250,195,116,1) 0%, rgba(20,153,116,1) 100%) !important;
}